
.container {
	width: 100%;
	height: 100%;
}

.green {
	color: #85e085;
}

#status {
	color: #ffa64d;
	font-size: 3em;
	font-family: 'Verdana';
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#origin {
	display: none;
}

#box {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#lock {
	display: initial;
}

#knock {
	font-size: 30px;
	width: 33%;
	padding: 15px 0;
	border: none;
	cursor: pointer;
	font-family: 'Verdana';
	background-color: #ffa64d;
	color: white;
}