
.container {
	width: 100%;
	height: 100%;
}

#green {
	color: #85e085;
	display: initial;
}

#red {
	display: none;
	color: #ff6666;
}

.dynamic {
	height: 300px;
}

.content {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#status {
	color: #ffa64d;
	font-family: 'Verdana';
}

#origin {
	display: none;
	font-size: 3em;
}

#box {
	position: relative;
}

#lock {
	display: initial;
}

#knock {
	-webkit-appearance: none;
	font-size: 40px;
	width: 50%;
	padding: 25px 0;
	border: none;
	cursor: pointer;
	font-family: 'Verdana';
	background-color: #ffa64d;
	color: white;
	margin-top: 150px;
	border-radius: 0px;
}

#knock:focus {
	outline:0;
}

.verse {
	width: 80%;
	margin: 50px auto;
	color: gray;
	font-family: 'Verdana';
	position: relative;
}

/*switch*/

#onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Open";
    padding-left: 10px;
    background-color: #85e085; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Closed";
    padding-right: 10px;
    background-color: #FFFFFF; color: #FF6666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}